.ev{
    text-align: center;
    width: 100%;
}
.h1{
    display: block;
    margin:auto;
}
.content-block{
    width: 30%;
    margin: auto;
    cursor: pointer;


}
.facebuk{
    display: flex;
    background-color: black;
    border-radius: 10px;
    
    
    margin-top: 20px;
}
h2 img{
    width: 100px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;

}

.link{
    float: left;
}
.link h2{
    color: white;
    width: 100%;

    
}
.container a:hover{
    cursor: pointer;
}
hr{
    margin-right: 45%;
    margin-left: 45%;
    color: black;
    border: 3px solid black;
}



.content-block:hover{
	
	animation-name: mor;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;


}
@keyframes mor{
    100%{
        transform: scale(1.1);
    }
    }
    .content-block{
        
        animation-name: mor2;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    
    
    }
    
    @keyframes mor2{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
    }
.odstep{
    margin: 20px 0px 20px 0px;
}

.fb-page{
    text-align: center;
    
}
.efbe {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 10px; 

}


.cont{
    margin: 10px 10%;
}

.load_logo{
        animation-name: example;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        width: 120px;

      
      
     
}
@keyframes example {
    
    100% {
        transform: rotate(360deg);
    }
  }

.loader_gif{
      width: 280px;
}






